- @page_title = t('files') + ' - ' + default_page_title
- @stylesheets << 'admin/folders'
- @javascripts << 'admin/foldermap'
- @javascripts << 'admin/folders'


.outset
  - render_region :top
  %table#folder_map.index{:cellspacing => "0", :border => "0", :cellpadding => "0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.folder= t('folder')
          - thead.modify_header do
            %th.modify{ :colspan => "2" }= t('modify')
    %tbody
      - if @root
        = render_node @root
      - else
        %tr
          %td.note{:colspan => admin.folder.index.node.length}= t('no_folders')

- render_region :bottom do |bottom|
  - bottom.new_button do
    - unless @root
      #actions
        %ul
          %li= link_to t('new_root_folder'), new_admin_folder_url